
.mapBox{
    height: 500px;
    background: gray;
}
.selBar{
    z-index: 10;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
    border-bottom: 1px solid #CACBCC;
}
.netBar{
    height: 70px;
    z-index: 10;
    background: #ffffff;
    border-top: 1px solid #CACBCC;
    display: -webkit-box;
    --webkit-box-orient:vertical;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.2em;
}
.netList li{
    margin-top: 20px;
}
.listBar{
    display: -webkit-box;
    --webkit-box-orient:vertical;
    font-size: 1.2em;
}
.net{
    -webkit-box-flex: 3;
}
.shopIcon{
    -webkit-box-flex: 1;
    color: #00326F;
    line-height: 30px;
    text-align: center;
}
.kilometer{
    -webkit-box-flex: 1;
    color: #00326F;
    line-height: 70px;
    text-align: center;
}
.shopIcon img{
    width: 30%;
    height: 30%;
    margin-top: 10px;
}
.netName{
    line-height: 38px;
    text-indent: 10px;
    font-weight: bold;
}
.netAddress{
    text-indent: 10px;
    color: #5D5E5F;
}